
 
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    padding: 0;margin:0;
  }

.mobileYES{display: none;}

.burger{float: right; padding: 1em;}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #03c96a;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}



mark{
  color: #03c96a;
  background-color: inherit;
}


.flex{display: flex;}
input, button{
  cursor: pointer;
}

img{
  max-width: 100%;
}
body{
    font-size:  1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding:  0;
    max-height: 100vh;
  font-family: 'Lora', serif;
  }
  
  ul li{
    list-style: none;
  }

 a{
  text-decoration: none;
  color: black;
 } 

 nav a{
  font-size: 16px;
  padding: 0 16px 0 0;
  color: gray;
}

 nav a:hover {
  color: #03c96a;
}

.sub_megamenu , .menu_col a{font-weight: bold;}

.megamenu{
width: 600px;
background-color:
white;
justify-content: space-between;
color:
gray;
position: absolute;
z-index: 9;
padding: 2em;
left: 23%;
display: none;

top: 2.7em;
}

.megamenu span{
  font-weight: bold;
  color:black;
  line-height: 3em;
}

.sub_megamenu:hover + .megamenu{
  display: flex;
}
.megamenu:hover{
  display: flex;
}


h1{font-size: 58px; line-height: 64px;}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    position: relative;
      flex-wrap: wrap;
}

nav{height: 100%;
padding: 1.36em 4em;}

header{
  background-color: white;
  height: auto;
}


.logo{
  font-size: xxx-large;
  margin-top: -8px; 
  font-weight: bold;
}

.logo a, .date{
    color: #03c96a;
}

.main_banner{
  height: 547px;
  background-image: url('img/girl.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
}

.h_marked{
  border-bottom: 4px solid #03c96a; 
  font-size: 1.7em;
}

.main_banner-content{
  background-color: white;
padding: 3em;
flex-direction: column;
position: absolute;
top: 1em;
right: 1em;

max-width: 430px;
border-top: 6px solid #03c96a ;
}

.main_banner-content p, .main_banner-content h2{
      text-align: center;
      padding: 1em 0;
}

input{
  border-left:5px solid #03c96a;
    transition: border-left 0.3s linear;
}

input:focus::placeholder {
  color: transparent;
}

input:focus{border-left: 5px solid green;}

 input, 
.main_banner-content button, .blog_theme{
  border:none; background-color: #03c96a; margin-bottom: 0.5em;
  color: white;padding: 1em; font-weight: bold; }

.w100{width: 100%;}
.w50{width: 50%;}
.w33{width: 32%;}
.w25{width: 23%;}
.blog_title{    
  padding: 0 1em;
  min-width: 400px;
  width: 600px;

    color: white;
position: absolute;
bottom: -30em;
left: 0;}

.blog_title h1{padding-top: 0.5em;}

.blog_theme{
margin: 0 0 1em 0;
padding: 0.5em 2em;
letter-spacing: 1px;
border-radius: 6px;}

.blog_theme:before{content: "";
position: absolute;
left: 16px;
top: 7px;
-webkit-transform: translate(0,100%);
-ms-transform: translate(0,100%);
transform: translate(0,100%);
border: 10px solid
transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 10px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 10px;
border-left: 14px solid
#03c96a;
border-top: 9px solid
#03c96a;}

 button{
  border: none;
  color: white;
  padding: 0.7em 2em;
  background-color: #03c96a;
  transition: all 0.4s ease 0s;
  font-weight: bold;
}

button:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.blog_face{width: 52px; border-radius: 39px;}
.blog_who{margin: 1em 0;}
.blog_who > div{
  font-weight: bold;
  padding: 0.3em; margin: 0 1em;
}

.badge{
  text-align: center;
  padding: 1em 0;
  font-size: 1.5em;
  font-weight: bold;
}

.spb{justify-content: space-between;}

.featured_items{
  overflow: hidden;
}

.featured_item{
  padding: 2em;
  max-height: 125px;
}

.blog_prev{
  background-color: #F5F5F5;
  padding-bottom: 3em;
}

.blog_prev-pre{
    margin-top: 1em;
}
.blog_prev-pre > h2{
text-align: center;}

.blog_prev-column, .blog_prev-mini{
  padding: 1em;
    padding-top: 1em;
background-color:
white;
position: relative;
}

.blog_prev-column{
padding-top: 10em;
margin-top: 7em;
}

.blog_who-when{
  padding: 1em 0;
}

.blog_prev-column h3{
  font-size:2em;
}

.blog_prev-column p{
  padding: 1em 0; 
}

.cover{
position: absolute;
top: -5em;
width: 90%;
max-height:230px;
left: 5%;
}

 .blog_prev-mini{
  padding: 1em;
 }


 .blog_prev-mini img{
  width: 110px;
 }

.blog_prev-mini > div{
  margin-right: 1em;
}

.blog_prev-mini{margin-top: 0.3em;}

.dark_back{
     background-color: #15222e;
}


.subscription{
  padding: 2em;
  justify-content: center;
  color: white;
}
.subscription > div{
  max-width: 520px;
}



.money_manage{
  background-color:
  white;
  padding: 2em 2em 3em 9em;
  margin: 0.3em 0.3em 0 11em;
  position: relative;
}

.money_manage img{
position: absolute;
left: -140px;
top: 20%;
width: 50%;
}

.clev{padding: 4em 0;}

.money_manage h2{
  position: absolute;
  top: -50px; left: -140px;
}



.card{
  position: relative;
  max-height: 250px;
  transition: background-color .5s ease-in-out;
  margin: 2em 0;
  max-height: 250px; 
    background-color: rgba(0,180,105,.6);
}

.card img{
  z-index: 0;
  opacity: 0.6;
}
.card:hover{
  background-color: inherit;
}
.card h3{
  position: absolute;
top: 40%;
right: 14%;
color:
white;
font-weight: bold;
z-index: 0;  text-align: center;
font-size: 29px;width: 80%;
}


footer{
  padding: 2em 0 1em 0;
}

.menu_col{
  margin-top: 1em;
  flex-direction: column;
}

.menu_col p{
  margin: 1em 0;
  color: gray;
}

.menu_col a{
color: gray;
margin: 0.2em 0;
}


@media screen and (max-width: 1200px) {
          h1{font-size: 36px;}
          .blog_title h1 {    max-width: 468px; }
              .w25{width: 42%;}
}


@media screen and (max-width: 1000px) {
      .w50{width:100%;} .money_manage{padding: 1em;margin: 0;}
        .money_manage img{position: relative;width: 100%; top: 0; left: 0;}

        .clev{display: none;}
}



@media screen and (max-width: 800px) {
    .w33{width: 48%;}
    .blog_title, nav{display: none;}
    .topspb{ justify-content: space-between; }
}



@media screen and (max-width: 600px) {
   .w33{width: 100%;} .moMobile{display: none;}
  .subscription{padding: 0.2em;}
  .flex {flex-direction: column;}

  .mobileYES{display: block;}

  .main_banner-content { padding:2em;  right: 0; top: 0; }
  .w25{width: 99%;}
}

@media screen and (max-width: 400px) {  
        .spb{justify-content: center;}
        

}

